<IfModule mod_authz_core.c>
    <FilesMatch ".*(helpers|encoding-helpers)\.php$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
    <FilesMatch ".*(helpers|encoding-helpers)\.php$">
        Deny from all
    </FilesMatch>
</IfModule>
